html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video
{
    margin:                             0;
    padding:                            0;
    border:                             0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section
{
    display:                            block;
}

body
{
    line-height:                        1;
    overflow-y:                         scroll;
    overflow-x:                         hidden;
    font-family:                        "Courier New", Arial, sans-serif;
    font-size:                          16px;
    -webkit-text-size-adjust:           none;

    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #C0C0C0), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #D0D0D0), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #D0D0D0)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #C0C0C0));

    -webkit-background-size:8px 9px;

    background-position:0 0, 4px 0, 4px -4px, 0px 4px;
}


ol, ul
{
    list-style:                         none;
}


blockquote, q
{
    quotes:                             none;
}


blockquote:before, blockquote:after, q:before, q:after
{
    content:                            "";
    content:                            none;
}


table
{
    border-collapse:                    collapse;
    border-spacing:                     0;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}
