@value ATTACK_POINTS_INDICATOR__BACKGROUND_COLOR: #FF6060;
@value DEFENCE_POINTS_INDICATOR__BACKGROUND_COLOR: #6060FF;

.higherIndicator {
    position: absolute;
    background-color: black;
    border: 1px white solid;
}

.lowerIndicator {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
