.game_board {
    width: 100%;
    height: 100%;
    background-color: #404040;

    display: grid;
    grid-template-columns: var(--GAME_BOARD--GRID_TEMPLATE_COLUMNS);
    grid-template-rows: var(--GAME_BOARD--GRID_TEMPLATE_ROWS);
}

.game_board__finished {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
}

.game_board__waiting {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    
}

.cell {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    border-radius: var(--GAME_BOARD__CELL--BORDER_RADIUS);
}
