@value GAME__HEADER__BACKGROUND_COLOR: #808080;
@value GAME_HEADER__LOGO__BACKGROUND_COLOR: #404040;
@value GAME_HEADER__RESET__BACKGROUND_COLOR: #404040;
@value GAME__FOOTER__BACKGROUND_COLOR: #808080;

.game {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "game__header"
                        "game__board"
                        "game__footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr var(--GAME_BOARD--SIZE) 1fr;
}

.game__header {
    grid-area: game__header;
    background-color: GAME__HEADER__BACKGROUND_COLOR;

    display: grid;
    grid-template-areas: "game_header__logo game_header__empty game_header__reset";
    grid-template-columns: var(--GAME_BOARD__RESET_BUTTON--WIDTH) 1fr var(--GAME_BOARD__RESET_BUTTON--WIDTH);
    grid-template-rows: 1fr;
}

.game_header__logo {
    grid-area: game_header__logo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: GAME_HEADER__LOGO__BACKGROUND_COLOR;
    color: white;
}

.game_header__empty {
    grid-area: game_header__empty;
}

.game_header__reset {
    grid-area: game_header__reset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: GAME_HEADER__RESET__BACKGROUND_COLOR;
}

.game__board {
    grid-area: game__board;
}

.game__footer {
    grid-area: game__footer;
    background-color: GAME__FOOTER__BACKGROUND_COLOR;
}
