@value SETTINGS__WIDTH: 50vw;
@value SETTINGS__HEIGHT: 50vh;
@value SETTINGS__HEADER__BACKGROUND_COLOR: #606060;
@value SETTINGS__FOOTER__BACKGROUND_COLOR: #808080;
@value SETTINGS__DIV__BACKGROUND_COLOR_1: #A0A0A0;
@value SETTINGS__DIV__BACKGROUND_COLOR_2: #B0B0B0;

.settings {
    width: SETTINGS__WIDTH;
	height: SETTINGS__HEIGHT;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

    display: grid;
    grid-template-areas: "settings__header settings__header"
                         "settings__name--label settings__name--input"
                         "settings__size--label settings__size--select"
                         "settings__level--label settings__level--select"
                         "settings__footer settings__footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.settings__div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings__input {
    width: 75%;
    border: 0;
    font-family: "Courier New";
    font-size: 16px;
}

.settings__select {
    width: 75%;
    border: 0;
    font-family: "Courier New";
    font-size: 16px;
}

.settings__header {
    grid-area: settings__header;
    background-color: SETTINGS__HEADER__BACKGROUND_COLOR;
}

.settings__name--label {
    grid-area: settings__name--label;
    background-color: SETTINGS__DIV__BACKGROUND_COLOR_1;
}

.settings__name--input {
    grid-area: settings__name--input;
    background-color: SETTINGS__DIV__BACKGROUND_COLOR_2;
}

.settings__size--label {
    grid-area: settings__size--label;
    background-color: SETTINGS__DIV__BACKGROUND_COLOR_2;
}

.settings__size--select {
    grid-area: settings__size--select;
    background-color: SETTINGS__DIV__BACKGROUND_COLOR_1;
}

.settings__level--label {
    grid-area: settings__level--label;
    background-color: SETTINGS__DIV__BACKGROUND_COLOR_1;
}

.settings__level--select {
    grid-area: settings__level--select;
    background-color: SETTINGS__DIV__BACKGROUND_COLOR_2;
}

.settings__footer {
    grid-area: settings__footer;
    background-color: SETTINGS__FOOTER__BACKGROUND_COLOR;
}
